@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$header-bg: '@/assets/images/bg-header-desktop.svg';
$header-bg-mobile: '@/assets/images/bg-header-mobile.svg';


* {
  box-sizing: border-box;
}

:root {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --primary: $primary;
  --background: $background;
  --light-grayish-cyan: $light-grayish-cyan;
  --dark-grayish-cyan: $dark-grayish-cyan;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: $primary;
}
a:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $background;
}

#page-header {
  height: 80px;
  background-color: $primary;
  background-image: url($header-bg-mobile);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px $primary;

  @media screen and (min-width: $bp-medium) {
    background-image: url($header-bg);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  background-color: $primary;
}
button:hover {
  opacity: 0.8;
}

.card {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: $card-radius;
  box-shadow: 0 5px 20px -10px $primary;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
}
