/* Responsive Breakpoints */
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

/* Colors */
$primary: #5ba4a4;
$sub-text: #b2b9be;
$background: #effafa;
$light-grayish-cyan: #eef6f6;
$dark-grayish-cyan: #7b8e8e;

/* Card round */
$card-radius: 10px;